body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #bdefff;
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #800000;
}

nav {
  background-color: #f7812c;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.container {
  background: white;
  max-width: 800px;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid #ffb44d;
  border-radius: 10px;
}

.scrolling-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: maroon;
  font-weight: bold;
  font-size: 18px;
  animation: scroll-left 45s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(100%); }
  40% { transform: translateX(0%); }
  60% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-group label {
  width: 180px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  min-width: 220px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.captcha {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 180px;
}

.captcha-text {
  font-family: 'Courier New', monospace;
  font-size: 20px;
  font-weight: bold;
  background: #eee;
  padding: 5px 15px;
  border: 1px dashed #999;
}

.preview-img {
  margin-left: 180px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ccc;
  display: none;
}

footer {
  background: maroon;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 40px;
}

.kkl {
  color: hwb(25 17% 3%);
  font-size: 20px;
}

.distributor-box {
  background: #002b80;
  color: white;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #001a4d;
}

.distributor-box h3 {
  text-align: center;
  color: #ffcc00;
  margin-bottom: 20px;
}
.messages li.error {
    color: red;
}
.messages li.success {
    color: green;
}
